
/*Fuente, fondo y color del texto */
body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    color: #333;
}

/* Barra de navegación */
/*fondo, color del texto, añadir espacio alrededor del contenido y centrar el contenido  */
nav {
    background: #333;
    color: white;
    padding: 16px;
    text-align: center;
}
/*Logo de la Tienda*/
/*Texto grande y en negrita*/
nav .logo {
    font-size: 28px;
    font-weight: bold;
}
/*Menu de navegacion*/
/*eliminar puntos, diseño en fila, alinear elementos y margen superior de 16px */
nav .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
/*Espacio entre los elementos del menu*/
nav.menu li {
    margin: 0 12px;
}
/*Enlaces del menu*/
/*color blanco, sin subrayar y en negrita*/
nav .menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Secciones */
/*añadir espacio alrededor del contenido y texto centrado*/
.seccion {
    padding: 48px;
    text-align: center;
}
/*Inicio*/
/*color de fondo y color de letra*/
#inicio {
    background: blue;
    color: white;
}
/*Banner de imagen*/
/*ancho completo, alto maximo, margen arriba y imagen en bloque */
.banner {
    width: 100%;
    max-height: 400px;
    margin-top: 32px;
    display: block;
}

/* Productos */
/*Organiza los productos en fila, centra los elementos de los productos*/
.productos-div {
    display: flex;
    justify-content: center;
}
/*Producto*/
/*margen de 16px, fondo blanco, relleno interno de 16px, ancho 100%, ancho max a 300px, texto centrado*/
.producto {
    margin: 16px;
    background: white;
    padding: 16px;
    width: 100%;
    max-width: 300px;
    text-align: center;
}
/*imagen del producto*/
/*ancho 100%, altura automatico*/
.producto img {
    width: 100%;
    height: auto;
}
/*Titulo dle producto*/
/*margen 16px*/
.producto h3 {
    margin: 16px;
}
/*Botón añadir al carrito*/
/*fondo azul, color texto blanco, relleno de 12px, indica que el boton es interactivo*/
.producto button {
    background: blue;
    color: white;
    padding: 12px ;
    cursor: pointer;
}
/*Efecto hover del botón: azul más oscuro al pasar el cursor*/
.producto button:hover {
    background: green;
}
/* Carrito */
/*fondo amarillo*/
#carrito {
    background: yellow;
}
/*Texto del total*/
/*tamaño de fuente y texto en negrita*/
#total {
    font-size: 24px;
    font-weight: bold;
}
/* Contacto */
/*fondo aquamarine y color texto blanco*/
#contacto {
    background: aquamarine;
    color: white;
}
/*contenedor del formulario*/
/*ancho max, margen automatico*/
#formularioTexto {
    max-width: 400px;
    margin: auto;
}
/*inputs y textarea del formulario*/
/*ancho, relleno dentro de los campos y margen */
#formularioTexto input,
#formularioTexto textarea {
    width: 100%;
    padding: 16px;
    margin: 16px;
}
/*boton de envio del formulario*/
/*fondo blanco*/
#formularioTexto button {
    background: white;
}
